.grid {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 20px;
}

.grid .react-terminal-wrapper {
  padding: 0px !important;
  position: relative;
}

.react-terminal-wrapper:before {
  display: none;
}

.react-terminal {
  height: 30vh !important;
  padding: 5px;
  font-size: 14px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 100;
  background-color: #272822;
  border-top: 1px solid #838383;
}

.ace-monokai .ace_gutter {
  background-color: #272822 !important;
  border-right: 1px solid #838383 !important;
}

.ace_gutter-cell {
  text-align: center;
} 

video {
  height: 100px;
  width: 100px;
}